
.hex-cell {
  margin: 0px;
	padding: 0 calc(var(--cell-size) / 4);
  text-align: center;
  white-space: pre;
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
	display: inline-flex;
  line-height: 2.5ch;
}

.hex-cell-value-header {
  color: var(--vscode-symbolIcon-classForeground);
  font-weight: bold;
	display: flex;
  width: 2.5ch
}

.hex-cell-value {
  user-select: text;
  font-weight: bold;
	display: inline-flex;
  width: 2.5ch;
}

.hex-cell-char-header {
  color: var(--vscode-symbolIcon-classForeground);
  font-weight: bold;
	display: flex;
  width: 2ch
}

.hex-cell-char {
  color: var(--vscode-textLink-activeForeground);
  background-color: var(--vscode-textBlockQuote-background);
  width: 2ch;
}

.hex-header-row {
	display: flex;
  font-weight: bold;
  white-space: pre;
}

.hex-data-row {
	display: flex;
  font-weight: bold;
  white-space: pre;
}

.hex-cell-address {
	color: var(--vscode-editorLineNumber-activeForeground);
  width: 18ch;
}

.hex-cell-address-empty {
  visibility: hidden;
}

.hex-cell-value-dirty {
  color: var(--vscode-editorWarning-foreground);
  font-weight: lighter;
}

.hex-cell-value-changed {
  border: 1px
}

.popupx {
  position: fixed;
  width: 4ch;
  display: flex;
  align-items: left;
}

.jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .modal-background */
  /* z-index: 1000; */

  /* enables scrolling for tall modals */
  overflow: auto;
}

.jw-modal-body {
  padding: 20px;
  background: #fff;

  /* margin exposes part of the modal background */
  margin: 40px;
}

.jw-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  /* z-index: 900; */
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.popupy {
  /* modal container fixed across whole screen */
  position: fixed;
  top: -20;
  right: -20;
  width: 100%;
  height: 100%;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.5;

  /* z-index must be higher than .modal-background */
  /* z-index: 1000; */

  /* enables scrolling for tall modals */
  overflow: auto;
}
